:root {
  --colorOfSun: orange;
  --colorOfSea: #68e1fd;
}
.primary,
.danger {
  border: none;
  color: white;
  transition: 0.3s;
  margin-left: 5px;
  padding: 7px;
  border-radius: 10px;
}
body {
  color: gray;
}
.form-control {
  margin-right: 2px;
}
.colCenter {
  text-align: center;
}
.container {
  width: 800px;
  margin: 50px auto;
  border-radius: 10px;
  box-shadow: 10px 10px 30px #bbe2ec;
  background-color: #e5f7fc;
}
.inCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.forecastDay {
  font-size: 17px;
}
.forecastImg {
  width: 70px;
  height: 70px;
}
svg {
  width: 50px;
}
.today {
  width: 130px;
}
.forjs {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 10%;
}
.gradusis {
  font-size: 60px;
  color: var(--colorOfSun);
}
h2,
h5,
span,
.temp {
  color: var(--colorOfSun);
}
.fandc {
  margin-bottom: 40px;
}
.whatWeather {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.openSourceCode {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 15px;
}
.openSourceCode a {
  margin: 0 5px;
}
.svgW {
  width: 110%;
}

.primary {
  margin-left: 5px;
  background-color: #68e1fd;
  border-color: #68e1fd;
  transition: 0.3s;
}
.primary:hover,
.primary:active {
  background-color: #46c4e0;
  border-color: #46c4e0;
}
.danger {
  background-color: var(--colorOfSun);
  border-color: var(--colorOfSun);
  transition: 0.3s;
}

.danger:hover,
.danger:active {
  background-color: rgb(230, 156, 21);
  border-color: rgb(230, 156, 21);
}
