body{color:gray;
}
.form-control{
    margin-right:2px ;
}
.container{width:800px;
    margin:50px auto;
    border-radius: 10px;
    box-shadow: 10px 10px 30px #bbe2ec;
    background-color: #e5f7fc;
    
}

svg{width:50px;}
.today{width:130px;}
.forjs{display: flex;
    flex-direction: row;
    align-items: center;
    padding:0 10%;
}
.gradusis{font-size:60px;
    color:orange

}

.fandc{
    margin-bottom:40px;
    
}
.whatWeather{display: flex;
flex-direction: row;
justify-content: space-between;
}
.openSourceCode{margin-top:20px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 15px;
}

.openSourceCode a{margin:0 5px;}
.svgW{width: 110%;}
.btn{padding:7px;
    color:white;border-radius: 10px;}
.primary{margin-left:5px;
    background-color:#68e1fd;
    border-color:#68e1fd;
    transition: 0.3s;}
.primary:hover,.primary:active{background-color: #46c4e0;
    border-color: #46c4e0;}
.danger{background-color:orange;;
    border-color: orange;;
    transition: 0.3s;}
h2,h5,span{color: orange;}
.danger:hover,.danger:active{background-color:rgb(230, 156, 21);
    border-color: rgb(230,156,21);}
.btn:hover,.btn:active{color:white}

